$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body{
  background-color: #85bfe2;
}
.navbar{
  margin-bottom: -10px;
}
#postMap{
  border: 0;
}
.container{
  margin-top: -5px;
}
.panel{
  border-radius: 0px 0px 4px 4px;
}
.media, .media-body{
  overflow: visible;
}
#profile-header{
  margin: 20px 10px;
}
textarea{
  min-height: 150px;
}
