$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #85bfe2;
}
.navbar{
  margin-bottom: -10px;
}
#postMap{
  border: 0;
}
.container{
  margin-top: -5px;
}
.panel{
  border-radius: 0px 0px 4px 4px;
}
.media, .media-body{
  overflow: visible;
}
#profile-header{
  margin: 20px 10px;
}
textarea{
  min-height: 150px;
}
#carousel-home{
  margin-top: 10px;
  min-height: 600px;
  .carousel-inner {
    .item {
      margin-top: 50px;
    }
    .carousel-caption {
      bottom: 200px;
      background: rgba(0,0,0,0.6);
      border-radius: 10px;
    }
  }
}
#features{
  background: #e7e7e7;
  .subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .feature-wrap{
     margin-bottom: 35px;
     overflow: hidden;
   }
  .feature-wrap i {
    font-size: 48px;
    width: 100px;
    height: 100px;
    color: white;
    line-height: 100px;
    background: rgb(133, 191, 226);
    text-align: center;
    float: left;
    border-radius: 100%;
    transition: 500ms;
    margin-right: 25px;
  }
  .feature-wrap i:hover {
    color: #85bfe2;
    background: white;
  }
}

#carousel-reviews{
  margin-top: 10px;
  min-height: 200px;
  .carousel-indicators{
    bottom: 0px;
  }
  .carousel-inner {
    .item img{
      width: 100px;
      border-radius: 100%;
    }
    .carousel-caption {
      background: rgba(0,0,0,0.6);
    }
  }
}
