<div class="modal fade" id="passwordModal" role="dialog" ng-controller="NavCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="changePassword(user)">
          <div class="input-group form-group">
            <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
            <input type="email" class="form-control" ng-model="user.email" placeholder="Email" required>
          </div>
          <div class="input-group form-group">
            <div class="input-group-addon"><i class="fa fa-key"></i></div>
            <input type="password" class="form-control" ng-model="user.oldPass" placeholder="Old Password" required>
          </div>
          <div class="input-group form-group">
            <div class="input-group-addon"><i class="fa fa-key"></i></div>
            <input type="password" class="form-control" ng-model="user.newPass" placeholder="New Password" required>
          </div>
          <button type="submit" class="btn btn-info">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
