<nav class="navbar navbar-default" ng-controller="NavCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" date-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Field Worker</a>
    </div>
    <!-- Brand and toggle -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#/users">Users</a></li>
        <li><a href="#/posts">Posts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="signedIn()"><a href="#/login">Log In</a></li>
        <li ng-hide="signedIn()"><a href="#/register">Register</a></li>
        <li ng-show="signedIn()"><a href="" data-toggle="modal" data-target="#addPostModal">Add Post</a></li>
        <li ng-show="signedIn()" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
           username
          </a>
          <ul class="dropdown-menu">
            <li><a href="" data-toggle="modal" data-target="#passwordModal">Change Password</a></li>
            <li><a href="" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div ng-show="signedIn()" ng-include="'views/partials/changePassword.html'"></div>
  <div ng-show="signedIn()" ng-include="'views/partials/addPost.html'"></div>
</nav>
