<div class="container">
  <div class="panel panel-default">
      <div class="panel-body">
        <!-- Post Settings -->
        <div ng-show="isPostCreator(selectedPost) && isOpen(selectedPost)">
          <div class="btn-group pull-right">
            <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="" data-toggle="modal" data-target="#editPostModal"><i class="fa fa-pencil"></i> Edit Post</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="archivePost(selectedPost.$id)"><i class="fa fa-archive"></i> Archive Post</a></li>
            </ul>
          </div>
        </div>
        <!--/ Post Settings -->
        <h3>{{selectedPost.title}}</h3>
        <i class="fa fa-clock-o"></i> <small am-time-ago="selectedPost.datetime"></small>
        <span class="badge list-group-item-success">{{selectedPost.status}}</span>
        <p>{{selectedPost.description}}</p>
      </div>


  </div>
</div>
<div ng-show="signedIn()" ng-include="'views/partials/editPost.html'"></div>
