<div class="container">
  <div class="panel panel-default row">
    <!-- Profile Header -->
    <div class="panel-heading media">
      <div class="pull-left">
        <img src="images/user.jpg" class="img-circle" width="70px" alt="{{selectedUser.name}}" title="{{selectedUser.name}}"/>
      </div>
      <div class="media-body">
        <h4>{{selectedUser.name}}</h4>
        <small>{{selectedUser.email}}</small>
      </div>
    </div>
    <!--/ Profile Header -->
    <!-- List Posts -->
    <div class="panel-body">
      List Users Posts
    </div>
    <!--/ List Posts -->
  </div>
</div>
