<div class="container panel">
  <div class="page-header">
    <h3>List All Users</h3>
  </div>
  <!-- Search Posts -->
  <div class="panel-heading form-group row">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <input type="text" ng-model="searchUser" class="form-control" placeholder="Search">
    </div>
  </div>
  <!--/ Search Posts -->
  <!-- Users List -->
  <div class="panel-body">
    <div class="list-group row">
      <a class="list-group-item" href="" ng-repeat="user in users | filter:{name:searchUser}" ng-href="#/users/{{user.$id}}">
        <div class="media">
          <div class="pull-left">
            <img src="images/user.jpg" class="img-circle" width="70px" alt=""/>
          </div>
          <div class="media-body">
            <h4 class="list-group-item-heading">{{user.name}}</h4>
            <p class="list-group-item-text">{{user.email}}</p>
            <span class="badge" ng-class="{true: 'list-group-item-success', false: ''}[user.active]">Active: {{user.active}}</span>
          </div>
        </div>
        <div class="clearfix"></div>
      </a>
    </div>
  </div>
</div>
